.welcome{
	font-family: Tahoma, sans-serif;
	text-align: center;
	background-color: #cc0000;
}

.line-1{
	padding-left: 50px;
	font-family: Tahoma, sans-serif;
	font-size: 15px;

}
#shop-list-form{
	padding-left: 50px;
	padding-top: 10px;
}

.shop-name, .input-box-label{
	display: block;
}

.input-box-label{
	padding-bottom: 10px;
}

#button_field{
	padding-left: 0px;
}

.button1{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:Tomato;
	text-align:center;
	transition: all 0.2s;
}
.button1:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:30em){
	.button1{
		display:block;
		margin:0.4em auto;
	}
}

